/* You can add global styles to this file, and also import other style files */
body {
  background-image: url(https://images5.alphacoders.com/613/thumb-1920-613933.jpg);
  background-attachment: fixed;
}
h1 {
  background: white;
  padding: 5px;
}
